#jumbotron-index {
  background: url("../img/option1.jpg") no-repeat;
  background-size: cover; }
  #jumbotron-index img {
    width: 200px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }

#jumbotron-contact {
  background: url("../img/option2.jpg") no-repeat;
  background-size: cover; }

#tech-container img {
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }

.light-overlay {
  background-color: rgba(211, 211, 211, 0.8); }

.btn-primary {
  background-color: rgba(255, 155, 0, 0.8);
  border-color: rgba(255, 155, 0, 0.8);
  color: rgba(0, 0, 0, 0.8); }

.btn-primary:hover {
  background-color: #ff9b00;
  border-color: #ff9b00;
  color: black; }

.btn-outline-primary {
  border-color: rgba(255, 155, 0, 0.8);
  color: rgba(0, 0, 0, 0.8); }

.btn-outline-primary:hover {
  background-color: rgba(255, 155, 0, 0.8);
  border-color: rgba(255, 155, 0, 0.8);
  color: black; }
