#main-jumbotron {
  background: url("../img/option1.jpg") no-repeat;
  background-size: cover; }
  #main-jumbotron .light-overlay {
    background-color: rgba(211, 211, 211, 0.8);
    top: 0;
    left: 0;
    width: 100%; }

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); }
