$dark-overlay: rgba(0,0,0,0.4);
$light-overlay: rgba(211,211,211,0.8);

// Custom $colors
$orange: rgba(255,155,0,1);
$orange-light: rgba(255,155,0,0.8);
$black: rgba(0,0,0,1);
$black-light: rgba(0,0,0,0.8);

#jumbotron-index {
  background: url('../img/option1.jpg') no-repeat;
  background-size: cover;

  img {
    width: 200px;
    height: 200px;
    border: 1px solid $dark-overlay;
    box-shadow: 0px 4px 8px $dark-overlay;
  }
}

#jumbotron-contact {
  background: url('../img/option2.jpg') no-repeat;
  background-size: cover;
}

.light-overlay {
  background-color: $light-overlay;
}

// Tweak button colors

.btn-primary {
  background-color: $orange-light;
  border-color: $orange-light;
  color: $black-light;
}

.btn-primary:hover {
  background-color: $orange;
  border-color: $orange;
  color: $black;
}

.btn-outline-primary {
  border-color: $orange-light;
  color: $black-light;
}

.btn-outline-primary:hover {
  background-color: $orange-light;
  border-color: $orange-light;
  color: $black;
}
