/* Defaults */

:root {
  /* Variables */
  --color-cream: #FFF8E3;
  --color-maroon: #782800;
  --color-box-shadow: rgba(0,0,0,0.4);

  --border-debug: 1px solid red;
  --border-image: 3px solid white;

  /* Font Styles */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: var(--color-cream);
}

b {
  font-weight: 700;
}

/* Background Colours etc. */

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--color-cream);
}

/* Header */

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-maroon);
  box-shadow: 0px 2px 4px var(--color-box-shadow);
  padding: 0.8rem 0;

  position: fixed;
  z-index: 5;
  background-color: var(--color-cream);
  max-width: inherit;
  margin: 0 auto;
  left: 0;
  right: 0;

  transition: all 0.2s ease-in;
}

/* By default, show desktop header only. */
.header-tablet { display: none; }
.header-mobile { display: none; }

/* Remove padding (shrink header) on page scroll, implemented with JS. */
.shrink {
  padding: 0;
}

@media only screen and (max-width: 960px) {
  .header-desktop { display: none; }
  .header-tablet { display: flex; }
  .header-mobile { display: none; }
}

@media only screen and (max-width: 700px) {
  .header-desktop { display: none; }
  .header-tablet { display: none; }
  .header-mobile { display: flex; }
  .shrink h1 { font-size: 3.5rem; } /* Shrink font-size on page scroll for mobile header only. */
}

header h1 {
  font-family: 'League Script', cursive;
  padding: 0.8rem 0.8rem 0.8rem 2.5rem; /* Top & btm padding provided only to account for funky text style. */
  font-size: 4rem;
  white-space: nowrap; /* Prevent text wrap. */

  transition: all 0.4s linear;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

header .btn {
  background-color: var(--color-cream);
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: solid 1px #B64926;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px var(--color-box-shadow);

  transition: all 0.4s ease-in;
}

header .btn:hover {
  background-color: #FFB03B;
}

header .facebook {
  background-color: rgba(59, 89, 152, 0.2)
}

header .facebook:hover {
  background-color: rgba(59, 89, 152, 0.5)
}

header .instagram {
  background-color: rgba(233, 89, 80, 0.2)
}

header .instagram:hover {
  background-color: rgba(233, 89, 80, 0.5)
}

/* Side Navigation Menu */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 9rem; /* To account for header */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 0.5rem 0.5rem 1rem 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover { color: #f1f1f1; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav { padding-top: 1.5rem; }
  .sidenav a { font-size: 1.2rem; }
}

/* Main Content */

.main-content {
  padding: 1rem;
  padding-top: 9rem; /* To account for fixed header. */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h2 {
  font-style: italic;
  padding: 1rem 1rem 2rem 1rem;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.main-content .image, .video {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 28rem;
  overflow: hidden;
}

.image img, video {
  width: 95%;
  border: var(--border-image);
  box-shadow: 0px 2px 4px var(--color-box-shadow);
}

@media only screen and (max-width: 960px) {
  .video { display: none; } /* Hide video on tablets and mobiles. */
}

.image p, .video p {
  padding: 1rem;
  padding-bottom: 1.5rem;
  font-style: italic;
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 0.8rem;

  border-top: 2px solid var(--color-maroon);
  box-shadow: 0px -2px 4px var(--color-box-shadow);
}
